header, main, footer {
    padding-left: 250px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  .container-admin {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
  }